:root { 
--gray_50:#fcfcfd; 
--blue_gray_500_01:#667085; 
--gray_900_0c:#1018280c; 
--blue_gray_700_4c:#4754674c; 
--yellow_700:#fdc639; 
--blue_gray_800:#344054; 
--blue_gray_900_01:#311d5b; 
--deep_purple_A100:#a074f9; 
--deep_purple_A200:#8851f8; 
--blue_gray_900:#263054; 
--deep_purple_A700:#7208f8; 
--deep_purple_A200_87:#8851f887; 
--gray_900_02:#0f162a; 
--gray_700:#5d6065; 
--gray_900_03:#0f1629; 
--gray_900_04:#1b1b1b; 
--gray_700_1e:#5959591e; 
--deep_purple_A200_26:#8851f826; 
--white_A700_6c:#ffffff6c; 
--blue_gray_100:#cfd1d9; 
--gray_900_05:#101629; 
--blue_gray_400:#898989; 
--blue_gray_300:#9fa3b3; 
--red_A200:#ff3b56; 
--gray_900:#0a1020; 
--gray_900_01:#0b1121; 
--blue_gray_500:#6e758d; 
--gray_200:#e7e8ec; 
--blue_gray_700_1e:#5151511e; 
--gray_100:#f3f3f5; 
--deep_purple_A200_3f:#8851f83f; 
--black_900_75:#00000075; 
--white_A700_63:#ffffff63; 
--white_A700:#ffffff; 
}